body{
	background-image: url("Index.jpg");
	background-repeat: round;
}

h1 {
    position: absolute;
    bottom: 505px;
    font-size: 85;
}

.searchBar{
	color: white;
	background-color: black;
	height: 35px;
	margin-bottom: 0px;
	font-family: "Impact";
}

#askTitle{
	position: absolute;
    left: 30;
    bottom: 605px;
    font-size: 20px;
}

#ask{
	position: absolute;
    left: 200px;
    top: 15px;
    height: 20px;
    width: 600;
}

#questionSubmit{
    position: absolute;
    left: 810px;
    top: 15px;
    border-radius: 5px;
}

#questionsFeed{
	position: absolute;
    left: 865px;
    top: 15;
    background-color: FFF8BC;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
	text-decoration: none;
}

#notification{
	position: absolute;
    left: 1000px;
    top: 15;
    background-color: FFF8BC;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
	text-decoration: none;
}

#userProfile{
	position: absolute;
    left: 1112px;
    top: 15;
    background-color: FFF8BC;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
	text-decoration: none;
}

.intro{
	height: 160px;
	border-bottom: 1px solid black;
}

#profilePic{
	position: absolute;
    left: 600px;
    width: 110px;
	height: 110px;
    top: 55px;
}

#username{
	position: absolute;
    font-family: "Impact";
    top: 145px;
    left: 600;
    font-size: 25px;
	text-align:center;
}

#logout{
	position: absolute;
}

.impressum{
	position: absolute;
    left: 300px;
    margin: 5px;
    width: 725;
    text-align: center;
	height: 80px;
}

.basicInfo{
	position: absolute;
    border-right: 1px solid;
    width: 275px;
    height: 455px;
}

.chat{
	position: absolute;
    right: 8px;
    height: 400;
    width: 305px;
    border-left: 1px solid black;
}

.content{
	position: absolute;
    bottom: 315px;
    left: 305px;
    width: 725;
    border: 1px solid;
    top: 305px;
    height: 355px;
}

.footer{
	font-family: "Impact";
	margin-top: 400px;
	height: 95px;
}